html, body, .container-full {
	height: 100%;
	width: 100%;
}

a {
	color: #003765;
}

a.deco-none {
    color : inherit;
    text-decoration:none;
}

#backToTop{
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
	border-radius : 50%;
}

div.col-centered {
	float  : none;
	margin : 0 auto;
}

div.more-info {
	height: 100%;
	position : absolute;
	top : 70%;
	left : 50%;

	-moz-animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
}

div.more-info a {
	position: absolute;
	transform: translate(-50%, -50%);
}

.btn-lg {
	background-color: transparent;
	color : white;
	border-width : 2px;
	/* font-size : 100%; */
}

.verticalLine {
	width: 1px; /* Line width */
	background-color: white; /* Line color */
	height : 100%;
}

.title{
    position: relative;
    top: 30%;
    transform: translateY(-50%);

	-moz-animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
}

.sec {
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top : 4em;
	padding-bottom : 4em;
	margin-right : 0em;
	margin-left : 0em;
}

.sec hr {
	border: 0;
	height: 1px;
}

.sec-head {
	background-color: #4686a0;
	color: white;
	background-attachment: fixed, fixed, fixed;
	background-image: url("images/overlay2.png"), url("images/overlay3.svg"), linear-gradient(45deg, #B5EDFF, #85AFBD 20%, #779AA5);
	background-position: top left, center center, center center;
	background-size: auto, cover, cover;
	overflow: hidden;

	position: relative;
	text-align: center;
	height: 100%;
}

.sec-light {
	background: white;
	color : #606060;
}

.sec-light h1, .sec-light h2, .sec-light h3, .sec-light strong {
	color: black;
}

.sec-light hr {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.sec-dark {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4686a0+0,2c5463+100 */
	background: #4686a0; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #4686a0 0%, #2c5463 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #4686a0 0%,#2c5463 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #4686a0 0%,#2c5463 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4686a0', endColorstr='#2c5463',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-attachment: fixed;
	color : #E0E0E0;
}

.sec-dark h1, .sec-dark h2, .sec-dark h3, .sec-dark strong {
	color : white;
}

.sec-dark hr {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

ul#listatemario {
	list-style-type : none;
	padding : 0px;
	margin-left: 1em;
}

ul#listatemario li{
	margin-bottom : 0.5em;
}

ul#listatemario strong {
	text-decoration : underline;
	display : block;
}

div.icons i {
	margin : 20px;
	/* text-shadow: 2px 2px 5px red; */
	color: rgba(87, 167, 198, 0.8);
	text-shadow: 1px 4px 6px #4686a0, 0 0 0 #000, 1px 4px 6px #4686a0;

	-webkit-transition: -moz-transform .3s ease-out;
	-moz-transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
}

@media (min-width: 992px) {
	.icons i:hover {
		transform: scale(1.1);
	}

	.icons, .icons li {
		display : inline-block;
	}

	.icons li {
		width : 1.5em;
		height : 1.5em;
		font-size : 5em;
	}

	.icons i {
		left : 0px;
		color: rgba(87, 167, 198, 0.8);
		text-shadow: 1px 4px 6px #4686a0, 0 0 0 #000, 1px 4px 6px #4686a0;

		-webkit-transition: -moz-transform .3s ease-out;
		-moz-transition: -webkit-transform .3s ease-out;
		transition: transform .3s ease-out;
	}
}

@media (max-width: 992px) {
	.icons {
		margin-left: 4em;
	}

	.icons li {
		font-size : 1.2em;
	}

	.icons li:after {
		content : attr(desc);
	}
}

.profesor {
	/* border : solid; */
	margin : 1em;
	padding : 1em;
	box-shadow : 0px 0px 10px #888888;
}

.profesor img {
	margin-bottom : 1em;
}

/************/
/* Calendar */
/************/
/* Clear format */
.calendar > tbody > tr > td,
.calendar > tbody > tr > th,
.calendar > tbody,
.calendar > table
{
    border : none;
	text-align : center;
	padding : 0px 0px 0px 0px;
	/* border-collapse: separate; */
	/* border-spacing : 20px; */
}

.calendar > table {
	box-shadow : 0px 0px 10px #444444;
}

/* Padding days */
.calendar td.cal-prev, .calendar td.cal-post {
	/* background-color : grey; */
}

/* Weekend */
.calendar td:nth-last-child(1), .calendar td:nth-last-child(2) {
	color : #999999;
}

/* Course */
div.calendar[month="5"] .day-2
,div.calendar[month="5"] .day-3
,div.calendar[month="5"] .day-20
,div.calendar[month="5"] .day-22
,div.calendar[month="5"] .day-24
,div.calendar[month="5"] .day-27
,div.calendar[month="5"] .day-29
,div.calendar[month="5"] .day-31
,div.calendar[month="6"] .day-3
,div.calendar[month="6"] .day-5
,div.calendar[month="6"] .day-7
,div.calendar[month="6"] .day-10
,div.calendar[month="6"] .day-12
,div.calendar[month="6"] .day-14
{
	font-weight : bold;
	font-size : 1.2em;
	text-decoration: underline;
	text-shadow: 2px 1px #666666;
	color : white;
}

/* Fiestas */
div.calendar[month="5"] .day-6
,div.calendar[month="5"] .day-7
,div.calendar[month="5"] .day-8
,div.calendar[month="5"] .day-9
,div.calendar[month="5"] .day-10
{
	color : #999999;
}

/* Classrooms */
#aula-A,
div.calendar[month="5"] .day-2
,div.calendar[month="5"] .day-3
,div.calendar[month="5"] .day-20
,div.calendar[month="5"] .day-22
,div.calendar[month="5"] .day-24
,div.calendar[month="5"] .day-27
,div.calendar[month="5"] .day-29
,div.calendar[month="5"] .day-31
,div.calendar[month="6"] .day-3
,div.calendar[month="6"] .day-5
,div.calendar[month="6"] .day-7
,div.calendar[month="6"] .day-10
,div.calendar[month="6"] .day-12
,div.calendar[month="6"] .day-14
{
	color : orange;
}

div.map > iframe {
	width : 100%;
	height : 400px;
	box-shadow : 0px 0px 10px #444444;
	pointer-events : none;
}

/**********/
/* Quotes */
/**********/
#quote-carousel .carousel-indicators li {
	background-color: transparent;
	border-color : #4686a0;
}

#quote-carousel .carousel-indicators li.active {
	background-color: #4686a0;
}

.carousel-inner {
	min-height : 4em;
}

.carousel-inner .item blockquote {
    border-left: none;
    margin: 0 0 2em 0;
}

.item blockquote p:before {
	content: "\f10d";
	font-family: 'Fontawesome';
	font-size : 2em;
	float: top;
	margin-right: 10px;
	color : #4686a0;
}
